* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 100%);
    height: 100vh;
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 
     /* hsl(212, 45%, 89%)
    - Grayish blue: hsl(220, 15%, 55%)
    - Dark blue: hsl(218, 44%, 22%) */
}